<%- include('_head') -%>   
<body>
    <%- include('_header') -%>   
    <div class="inner-div">
    <h1><%= title %></h1>
    <p>Wil je bestellen?</p>
    <a href="/snacks">Bestellen</a>
    <p>Of wil je beheren?</p>
    <a href="/admin">Beheren</a>
</div>
</body>
