<%- include('_head') -%>

    <body>
        <%- include('_header') -%>
            <div class="inner-div">
                <h1>Inloggen</h1>
                <form action="/auth/login" method="POST">
                    <label>Gebruikersnaam:</label>
                    <input type="text" name="username" required>
                    <br>
                    <label>Wachtwoord:</label>
                    <input type="password" name="password" required>
                    <br>
                    <button type="submit">Inloggen</button>
                </form>
            </div>
            </div>

    </body>

    </html>